.flL {
  float: left !important;
}
.flR {
  float: right !important;
}
.pdLR2r {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.pdTB10r {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}
