<div class="cte WdB">

    <div class="page-header"><h1 ng-bind="artist.displayName"></h1></div>  

    <div class="o-tbl SpcB">

        <div class="tbl Auto flL">
            <div class="cll">
                <button ut-back-button type="button" class="btn btn-default">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span> Back
                </button>
            </div>
        </div>

        <div class="tbl Auto flR">
            <div class="cll">
                <a href="{{ 'ex_artist' | nav : artist }}" target="_blank" type="button" class="btn btn-primary">
                    View on Site <span class="fa fa-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>

    </div>

</div>